{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Encuesta de Satisfacción - Buzón de Quejas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'organization/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'organization/css/form_style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="form-container">
        <header class="form-header">
            <h1>{% block header_title %}Encuesta de Satisfacción del Servicio{% endblock %}</h1>
            <p class="subtitle">{% block header_subtitle %}Tu opinión es importante para mejorar nuestro servicio{% endblock %}</p>
        </header>

        {% block content %}
        <!-- El contenido específico de cada página va aquí -->
        {% endblock %}

        <footer class="form-footer">
            <p>Gracias por tu participación. Tu opinión nos ayuda a mejorar.</p>
            
        </footer>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>
